.task{
    background-color: #f4f4f4;
    margin:10px;
    padding:10px 20 px;
    cursor:pointer;
}
.task.reminder{
    border-left: 13px solid red;
    
}
.task h3{
    display:flex;
    align-items: left   ;
    justify-content: space-between  ;
    
}